@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=JetBrains+Mono:wght@500&family=Kaushan+Script&family=Love+Light&family=Manrope:wght@400;700&family=Merienda:wght@400;600;700&family=Quintessential&family=Satisfy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  @apply h-full bg-white
}

body {
  @apply h-full
}

// Add a custom className that Tailwind will treat as it would its own base styles
@layer components {
    .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

input, textarea {
  @apply p-2
}

.cl-userButtonPopoverCard {
  @apply bg-slate-700 text-cyan-500 rounded-lg border-slate-500
}

.cl-userButtonPopoverActionButtonIconBox, .cl-userButtonPopoverActionButtonIcon, .cl-userButtonPopoverActionButtonText {
  @apply text-slate-200
}

.cl-avatarBox {
  @apply bg-slate-700
}

.cl-formButtonPrimary {
  @apply bg-cyan-500 hover:bg-cyan-600
}

.cl-userButtonPopoverFooter {
  @apply hidden
}

.cl-userPreviewSecondaryIdentifier {
  @apply text-slate-200
}