.sidebar {
  @apply h-screen bg-red-100
}

.content {
  @apply h-screen w-full
}

// .contextBar {
//   @apply h-screen px-2 w-192 bg-slate-100
// }

// .contextWrapper {
//   @apply h-full overflow-y-scroll
// }
  // m-0 bg-slate-300 rounded-lg shadow-lg p-1

.contextItem {
  @apply flex justify-between items-center mb-8 px-4 py-2  rounded-2xl text-slate-200 border border-slate-200/10 bg-slate-700
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -60px; /* Use half the width to center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
